# ARTIFICIAL NEURAL NETWORKS

## Classification Using Artificial Neural Networks with Hyperparameter Tuning on Alphabets Data
Overview
In this assignment, you will be tasked with developing a classification model using Artificial Neural Networks (ANNs) to classify data points from the "Alphabets_data.csv" dataset into predefined categories of alphabets. This exercise aims to deepen your understanding of ANNs and the significant role hyperparameter tuning plays in enhancing model performance.
Dataset: "Alphabets_data.csv"
The dataset provided, "Alphabets_data.csv", consists of labeled data suitable for a classification task aimed at identifying different alphabets. Before using this data in your model, you'll need to preprocess it to ensure optimal performance.
Tasks
### 1. Data Exploration and Preprocessing
+ Begin by loading and exploring the "Alphabets_data.csv" dataset. Summarize its key features such as the number of samples, features, and classes.
+ Execute necessary data preprocessing steps including data normalization, managing missing values.
### 2. Model Implementation
+ Construct a basic ANN model using your chosen high-level neural network library. Ensure your model includes at least one hidden layer.
+ Divide the dataset into training and test sets.
+ Train your model on the training set and then use it to make predictions on the test set.
### 3. Hyperparameter Tuning
+ Modify various hyperparameters, such as the number of hidden layers, neurons per hidden layer, activation functions, and learning rate, to observe their impact on model performance.
+ Adopt a structured approach like grid search or random search for hyperparameter tuning, documenting your methodology thoroughly.
### 4. Evaluation
+ Employ suitable metrics such as accuracy, precision, recall, and F1-score to evaluate your model's performance.
+ Discuss the performance differences between the model with default hyperparameters and the tuned model, emphasizing the effects of hyperparameter tuning.

We wish you the best of luck with this assignment. Enjoy exploring the fascinating world of neural networks and the power of hyperparameter tuning!

### 1. Data Exploration and Preprocessing
 + Begin by loading and exploring the "Alphabets_data.csv" dataset. Summarize its key features such as the number of samples, features, and classes.
 + Execute necessary data preprocessing steps including data normalization, managing missing values.

###### Begin by loading and exploring the "Alphabets_data.csv" dataset. Summarize its key features such as the number of samples, features, and classes.

In [1]:
import pandas as pd
import numpy as np

# Loading the dataset
df = pd.read_csv("Alphabets_data.csv")

In [2]:
# Exploring the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   letter  20000 non-null  object
 1   xbox    20000 non-null  int64
 2   ybox    20000 non-null  int64
 3   width   20000 non-null  int64
 4   height  20000 non-null  int64
 5   onpix   20000 non-null  int64
 6   xbar    20000 non-null  int64
 7   ybar    20000 non-null  int64
 8   x2bar   20000 non-null  int64
 9   y2bar   20000 non-null  int64
 10  xybar   20000 non-null  int64
 11  x2ybar  20000 non-null  int64
 12  xy2bar  20000 non-null  int64
 13  xedge   20000 non-null  int64
 14  xedgey  20000 non-null  int64
 15  yedge   20000 non-null  int64
 16  yedgex  20000 non-null  int64
dtypes: int64(16), object(1)
memory usage: 2.6+ MB

In [3]:
df.head(5)

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10

In [4]:
df.describe()

,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
count,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000
mean,4.023550,7.035500,5.121850,5.37245,3.505850,6.897600,7.500450,4.628600,5.178650,8.282050,6.45400,7.929000,3.046100,8.338850,3.691750,7.80120
std,1.913212,3.304555,2.014573,2.26139,2.190458,2.026035,2.325354,2.699968,2.380823,2.488475,2.63107,2.080619,2.332541,1.546722,2.567073,1.61747
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,3.000000,5.000000,4.000000,4.00000,2.000000,6.000000,6.000000,3.000000,4.000000,7.000000,5.00000,7.000000,1.000000,8.000000,2.000000,7.00000
50%,4.000000,7.000000,5.000000,6.00000,3.000000,7.000000,7.000000,4.000000,5.000000,8.000000,6.00000,8.000000,3.000000,8.000000,3.000000,8.00000
75%,5.000000,9.000000,6.000000,7.00000,5.000000,8.000000,9.000000,6.000000,7.000000,10.000000,8.00000,9.000000,4.000000,9.000000,5.000000,9.00000
max,15.000000,15.000000,15.000000,15.00000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.00000,15.000000,15.000000,15.000000,15.000000,15.00000

In [5]:
# Displaying unique classes in the target column
df["letter"].nunique()

26

In [6]:
# Finding null values 
df.isnull()

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
# Handle missing values (if any)
df = df.dropna()

In [8]:
df.shape

(20000, 17)

###### Execute necessary data preprocessing steps including data normalization, managing missing values.

In [9]:
# Separating features  and target for data normalization and missing values is already handeled. 
y = df["letter"]  
X = df.drop(columns=["letter"])

In [10]:
from sklearn.preprocessing import MinMaxScaler

# Normalizing features using MinMaxScaler
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

In [11]:
from tensorflow.keras.utils import to_categorical
# Convert categorical labels to numerical values and appling one-hot encoding
y = pd.factorize(y)[0]  
y = to_categorical(y)

In [12]:
X.shape

(20000, 16)

In [13]:
y.shape

(20000, 26)

The dataset consists of 20,000 samples, each with 16 numerical features, representing 26 unique letter classes, and has undergone preprocessing, including missing value handling, feature normalization, and one-hot encoding of categorical labels.

### 2. Model Implementation
+ Construct a basic ANN model using your chosen high-level neural network library. Ensure your model includes at least one hidden layer.
+ Divide the dataset into training and test sets.
+ Train your model on the training set and then use it to make predictions on the test set.

###### Construct a basic ANN model using your chosen high-level neural network library. Ensure your model includes at least one hidden layer.

In [33]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense


model = Sequential([
    Dense(64, activation='relu', input_shape=(X.shape[1],)),  
    Dense(32, activation='relu'),  
    Dense(y.shape[1], activation='softmax') 
])

In [34]:
# Compile the model
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

###### Divide the dataset into training and test sets.

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

###### Train your model on the training set and then use it to make predictions on the test set.

In [36]:
# Training the model
model.fit(X_train, y_train, epochs=20, batch_size=32, validation_data=(X_test, y_test))

Epoch 1/20
500/500 [==============================] - 4s 5ms/step - loss: 2.6462 - accuracy: 0.2564 - val_loss: 2.0201 - val_accuracy: 0.4688
Epoch 2/20
500/500 [==============================] - 2s 5ms/step - loss: 1.7301 - accuracy: 0.5343 - val_loss: 1.5188 - val_accuracy: 0.5798
Epoch 3/20
500/500 [==============================] - 2s 5ms/step - loss: 1.4213 - accuracy: 0.6147 - val_loss: 1.3332 - val_accuracy: 0.6170
Epoch 4/20
500/500 [==============================] - 2s 5ms/step - loss: 1.2794 - accuracy: 0.6501 - val_loss: 1.2240 - val_accuracy: 0.6693
Epoch 5/20
500/500 [==============================] - 2s 5ms/step - loss: 1.1837 - accuracy: 0.6734 - val_loss: 1.1285 - val_accuracy: 0.6870
Epoch 6/20
500/500 [==============================] - 2s 5ms/step - loss: 1.1120 - accuracy: 0.6910 - val_loss: 1.0683 - val_accuracy: 0.7082
Epoch 7/20
500/500 [==============================] - 2s 5ms/step - loss: 1.0618 - accuracy: 0.7057 - val_loss: 1.0473 - val_accuracy: 0.7023
Epoch 8/20
500/500 [==============================] - 3s 5ms/step - loss: 1.0175 - accuracy: 0.7180 - val_loss: 0.9759 - val_accuracy: 0.7312
Epoch 9/20
500/500 [==============================] - 2s 5ms/step - loss: 0.9828 - accuracy: 0.7262 - val_loss: 0.9469 - val_accuracy: 0.7380
Epoch 10/20
500/500 [==============================] - 2s 5ms/step - loss: 0.9504 - accuracy: 0.7376 - val_loss: 0.9219 - val_accuracy: 0.7425
Epoch 11/20
500/500 [==============================] - 2s 5ms/step - loss: 0.9205 - accuracy: 0.7445 - val_loss: 0.9009 - val_accuracy: 0.7577
Epoch 12/20
500/500 [==============================] - 2s 5ms/step - loss: 0.8958 - accuracy: 0.7492 - val_loss: 0.8761 - val_accuracy: 0.7540
Epoch 13/20
500/500 [==============================] - 2s 5ms/step - loss: 0.8732 - accuracy: 0.7563 - val_loss: 0.8459 - val_accuracy: 0.7675
Epoch 14/20
500/500 [==============================] - 2s 5ms/step - loss: 0.8519 - accuracy: 0.7622 - val_loss: 0.8296 - val_accuracy: 0.7732
Epoch 15/20
500/500 [==============================] - 2s 5ms/step - loss: 0.8319 - accuracy: 0.7648 - val_loss: 0.8260 - val_accuracy: 0.7655
Epoch 16/20
500/500 [==============================] - 2s 5ms/step - loss: 0.8128 - accuracy: 0.7708 - val_loss: 0.8078 - val_accuracy: 0.7778
Epoch 17/20
500/500 [==============================] - 2s 5ms/step - loss: 0.7969 - accuracy: 0.7736 - val_loss: 0.7811 - val_accuracy: 0.7790
Epoch 18/20
500/500 [==============================] - 2s 5ms/step - loss: 0.7808 - accuracy: 0.7766 - val_loss: 0.7696 - val_accuracy: 0.7832
Epoch 19/20
500/500 [==============================] - 2s 5ms/step - loss: 0.7628 - accuracy: 0.7841 - val_loss: 0.7527 - val_accuracy: 0.7872
Epoch 20/20
500/500 [==============================] - 2s 5ms/step - loss: 0.7532 - accuracy: 0.7860 - val_loss: 0.7315 - val_accuracy: 0.7945

In [37]:
# Make predictions
y_pred = model.predict(X_test)

125/125 [==============================] - 0s 3ms/step

In [38]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Convert predictions to class labels
y_pred_classes = np.argmax(y_pred, axis=1)
y_test_classes = np.argmax(y_test, axis=1)

# Calculate evaluation metrics
accuracy = accuracy_score(y_test_classes, y_pred_classes)
precision = precision_score(y_test_classes, y_pred_classes, average='weighted')
recall = recall_score(y_test_classes, y_pred_classes, average='weighted')
f1 = f1_score(y_test_classes, y_pred_classes, average='weighted')

# Print results
print(f"Accuracy: {accuracy:.4f}")
print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1-score: {f1:.4f}")

Accuracy: 0.7945
Precision: 0.8040
Recall: 0.7945
F1-score: 0.7950

### 3. Hyperparameter Tuning
+ Modify various hyperparameters, such as the number of hidden layers, neurons per hidden layer, activation functions, and learning rate, to observe their impact on model performance.
+ Adopt a structured approach like grid search or random search for hyperparameter tuning, documenting your methodology thoroughly.

###### Modify various hyperparameters, such as the number of hidden layers, neurons per hidden layer, activation functions, and learning rate, to observe their impact on model performance.

In [19]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam

In [20]:
# Defining the ANN model with modified hyperparameters
model = Sequential([
    Dense(128, activation='relu', input_shape=(X.shape[1],)),  
    Dense(64, activation='tanh'), 
    Dense(32, activation='relu'),  
    Dense(y.shape[1], activation='softmax') 
])

# Compiling the model with an adjusted learning rate
optimizer = Adam(learning_rate=0.001)
model.compile(optimizer=optimizer, loss='categorical_crossentropy', metrics=['accuracy'])

######  Adopt a structured approach like grid search or random search for hyperparameter tuning, documenting your methodology thoroughly.

In [21]:
from sklearn.model_selection import GridSearchCV
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier

# defining function to creating a model 
def create_model(neurons=64, activation='relu', learning_rate=0.001):
    model = Sequential([
        Dense(neurons, activation=activation, input_shape=(X.shape[1],)),
        Dense(neurons // 2, activation=activation),
        Dense(y.shape[1], activation='softmax')
    ])
    optimizer = Adam(learning_rate=learning_rate)
    model.compile(optimizer=optimizer, loss='categorical_crossentropy', metrics=['accuracy'])
    return model

# Wraping the model 
model = KerasClassifier(build_fn=create_model, verbose=0)

C:\Users\admin\AppData\Local\Temp\ipykernel_16492\3801430050.py:16: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  model = KerasClassifier(build_fn=create_model, verbose=0)

In [22]:
# Defining hyperparameter grid
param_grid = {
    'neurons': [32, 64, 128],
    'activation': ['relu', 'tanh'],
    'learning_rate': [0.01, 0.001, 0.0001]
}

In [27]:
# Performing Grid Search
grid_search = GridSearchCV(estimator=model, param_grid=param_grid, cv=3, verbose=1)
model1 = grid_search.fit(X_train, y_train)

Fitting 3 folds for each of 18 candidates, totalling 54 fits

### 4. Evaluation
+ Employ suitable metrics such as accuracy, precision, recall, and F1-score to evaluate your model's performance.
+ Discuss the performance differences between the model with default hyperparameters and the tuned model, emphasizing the effects of hyperparameter tuning.

###### Employ suitable metrics such as accuracy, precision, recall, and F1-score to evaluate your model's performance.

In [30]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

y_pred = model1.predict(X_test)

# If y_pred is already 1D, no need for argmax
if len(y_pred.shape) > 1:
    y_pred_classes = np.argmax(y_pred, axis=1)
else:
    y_pred_classes = y_pred  # Already class labels

y_test_classes = np.argmax(y_test, axis=1)

# Calculate evaluation metrics
accuracy = accuracy_score(y_test_classes, y_pred_classes)
precision = precision_score(y_test_classes, y_pred_classes, average='weighted')
recall = recall_score(y_test_classes, y_pred_classes, average='weighted')
f1 = f1_score(y_test_classes, y_pred_classes, average='weighted')

# Print results
print(f"Accuracy: {accuracy:.4f}")
print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1-score: {f1:.4f}")

125/125 [==============================] - 0s 3ms/step
Accuracy: 0.7035
Precision: 0.7683
Recall: 0.7035
F1-score: 0.6919

###### Discuss the performance differences between the model with default hyperparameters and the tuned model, emphasizing the effects of hyperparameter tuning.
The default model outperformed the tuned model, achieving higher accuracy  and better overall precision, recall, and F1-score. This suggests that the chosen hyperparameters in the tuning process may not have been optimal, possibly leading to overfitting or underfitting. Further tuning with a more refined search strategy, such as Bayesian optimization, could help improve performance.

## Evaluation Criteria
Accuracy and Completeness of Implementation

###### 1.Accuracy and completeness of the implementation. 
+ Ensure the model is correctly implemented as per the given problem statement.Verify that all required components are present.Proficiency in Data Preprocessing and Model Development

###### 2.Proficiency in data preprocessing and model development.
+ Proper handling of missing values, feature engineering, and data transformations. Efficient use of TensorFlow/Keras for model development. Systematic Approach and Thoroughness in Hyperparameter Tuning

###### 3.Systematic approach and thoroughness in hyperparameter tuning.
+ Implementation of techniques like Grid Search, Random Search, or Bayesian Optimization. Justification for chosen hyperparameters.Depth of Evaluation and Discussion

###### 4.Depth of evaluation and discussion.
+ Use of appropriate metrics (accuracy, precision, recall, F1-score, etc.) for model evaluation. Clear discussion on model performance, strengths, and areas for improvement.

###### 5.Overall quality of the report.
+ Its Well structured, clear, and concise explanations.Proper use of visualizations and tables to support findings.References to relevant documentation and research.